@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  /* Color Palette */
  --color-primary: #0001f7;
  --color-secondary: #0f1215;
  --color-tertiary: #b3b3b3;
  --color-black: #222222;
  --color-white: #f8f8f8;

  /* Custom fonts */
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-mono:
    var(--font-roboto-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --font-serif: var(--font-lora), ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  /* Page max width */
  --page-max: 1120px;
}

/* Pulse animation */
@keyframes radarPulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.pulse-animation {
  animation: radarPulse 2s infinite ease-out;
}
